/* Colorscheme (jellybeans): */
@define-color bgcol #282A36;
@define-color col1 #50FA7B;
@define-color col2 #FF79C6;
@define-color purple #b47ede;
@define-color red #44475A;
@define-color blue #BD93F9;
@define-color gray3 #bbbbbb;
@define-color white #F8F8F2;
@define-color cyan #BF092F;

* {
	font-family: AgaveNerdFontPropo;
	font-size: 18px;
	background-color: @bgcol;
	color: @white;
	padding: 0px;
	margin-top: -6px;
	margin-bottom: -6px;
}
#waybar {
	padding-top: 0px;
	padding-bottom: 0px;
}

#cpu, #memory, #battery {
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
	margin-right: 5px;
	font-weight: bold;
}
#clock, #disk, #custom-lock, #custom-logout, #custom-reboot, #custom-poweroff, #tray {
	padding-left: 20px;
	padding-right: 20px;
	/* margin-left: 8px; */
	/* margin-right: 8px; */
	font-weight: bold;
}
#tray {
	padding-right: 10px;
	padding-left: 10px;
}
#tray menu > * {
	padding: 0.7em;
}
#clock {
	background-color: @red;
}

#exit * {
	padding-left: 15px;
	padding-right: 15px;
	background-color: @col2;
	color: @bgcol;
}
#hardware * {
	background-color: @col1;
	color: @bgcol;
}

#tags button > label {
	opacity: 0.3;
}

#tags button.focused {
	background-color: @cyan;
}

#tags button.focused > label {
	background-color: @cyan;
}

#tags button.occupied > label {
	opacity: 1;
	font-weight: bold;
}

#tags button {
	padding-left: 10px;
	padding-right: 10px;
}

#window {
	margin-left: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: @blue;
	/* font-style: italic; */
}
#window * {
	background-color: @blue;
	color: @bgcol;
}
#custom-right, #custom-left1, #custom-left2, #custom-left3, #custom-left4 {
	padding: 0;
	margin: 0;
}
#custom-right {
	font-size: 2em;
	margin-left: -12px;
	color: @blue;
	background-color: @bgcol;
}
#custom-left1, #custom-left2, #custom-left3, #custom-left4 {
	margin-right: -1px;
	font-size: 2.7em;
}
#custom-left1 {
	color: @col1;
	background-color: @bgcol;
}
#custom-left2 {
	color: @red;
	background-color: @col1;
}
#custom-left3 {
	color: @col2;
	background-color: @red;
}
#custom-left4 {
	color: @bgcol;
	background-color: @col2;
}
