/* Colorscheme (jellybeans): */
/* @define-color bgcol #1A1B26; */
/* @define-color white #C0CAF5; */
/* @define-color col1 #7AA2F7; */
/* @define-color col2 #BB9AF7; */
/* @define-color red #F7768E; */
/* @define-color blue #9ECE6A; */
/* @define-color cyan #565F89; */

/* Colorscheme (Nocturne Mirage): */
/* @define-color bgcol    #0E1018; */
/* @define-color white    #E4E7F5; */
/* @define-color col1     #5FB0FC; */
/* @define-color col2     #C679E3; */
/* @define-color red      #F25C75; */
/* @define-color blue     #93D482; */
/* @define-color cyan     #4C566A; */

/* Colorscheme (Kanagawa): */
@define-color darkfg	#282a36;
@define-color left 		#282a36;
@define-color focus 	#ffb86c;
@define-color name 		#ffb86c;
@define-color fg 		#f8f8f2;
@define-color hardware 	#bd93f9;
@define-color clock 	#282a36;
@define-color exit 		#f1fa8c;
@define-color tray 		#282a36;
@define-color window	#ff79c6;

* {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	color: @fg;
}
window#waybar {
    background: rgba(0, 0, 0, 0);
    color: white;
}

.modules-left, .modules-right {
	margin-top: -4;
	margin-bottom: -4;
}
#cpu, #memory, #battery {
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
	margin-right: 5px;
}
#clock, #exit > *, #tray > * {
	padding-left: 20px;
	padding-right: 30px;
}
#tray {
	padding-right: 10px;
	padding-left: 10px;
	background-color: @tray;
}
#clock {
	color: @fg;
	background-color: @clock;
	padding-right: 20px;
}

#exit * {
	padding-left: 15px;
	padding-right: 15px;
	color: @darkfg;
	background-color: @exit;
}
#exit {
	padding-right: 10px;
}
#hardware * {
	background-color: @hardware;
	color: @darkfg;
	padding-right: 20px;
}

#tags {
    background: @left;
	padding-right: 10px;
}
#tags button > label {
	font-weight: bold;
}

#tags button.focused {
	color: @focus;
}

#tags button.focused > label {
	color: @focus;
}

#tags button {
	padding-left: 10px;
	padding-right: 10px;
}

#window {
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 15px;
    background: @window;
}
#window > * {
	color: @darkfg;
}
#custom-left1, #custom-left2, #custom-left3, #custom-left4 {
	padding-right: 10px;
	font-size: 1.4em;
}
#custom-right1 {
	font-size: 1.35em;
	background-color: @window;
	color: @left;
}
#custom-right2 {
	padding-left: 10px;
	font-size: 1.4em;
	background-color: rgba(255, 255, 255, 0);
	color: @window;
}
#custom-left1 {
	background-color: rgba(255, 255, 255, 0);
	color: @hardware;
}
#custom-left2 {
	background-color: @hardware;
	color: @clock;
}
#custom-left3 {
	background-color: @clock;
	color: @exit;
}
#custom-left4 {
	background-color: @exit;
	color: @tray;
}
